version: '3'

services:
  python:
    build: .
    restart: on-failure
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-InnoCPC}
      POSTGRES_USER: ${POSTGRES_USER:-InnoCPC}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-InnoCPC}
    volumes:
      - "InnoCPC:/var/lib/postgresql/data/"

volumes:
  InnoCPC: