version: '3'

services:
  python:
    build: .
    restart: on-failure
    ports:
      - "8000:8000"
    environment:
      DB_CONNECTION: "postgres://postgres:postgres@db/postgres"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:11.1-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: InnoCPC
      POSTGRES_USER: InnoCPC
      POSTGRES_PASSWORD: InnoCPC
    volumes:
      - "InnoCPC:/var/lib/postgresql/data/"

volumes:
  InnoCPC: